<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Of Recipes</title>
</head>
<body>
   <table>
       <thead>
       <tr>
           <th>Description</th>
           <th>Direction</th>
           <th>Note</th>
       </tr>
       </thead>
       <tbody>
           <tr th:each="recipe : ${recipes}" >
               <td th:text="${recipe.description}"></td>
               <td th:text="${recipe.direction}"></td>
               <td th:text="${recipe.note}"></td>
           </tr>
       </tbody>
   </table>
</body>
</html>